﻿@model WebClientBattleShip.Models.DtoModels.Ships[]

@{
    Layout = null;
    ViewBag.Alphabet = "АБВГДЕЖЗИК";
}
<table class="battlefield-table">
    <tbody>
    @for (var i = 0; i < 10; i++)
    {
        <tr class="battlefield-row">
            @for (int j = 0; j < 10; j++)
            {
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="@i" data-x="@j" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <span class="z"></span>
                        @if (i == 0)
                        {
                            <div class="marker marker__col">@ViewBag.Alphabet[@j]</div>

                        }
                        @if (j == 0)
                        {
                            <div class="marker marker__row">@(@i + 1)</div>
                        }
                        @if (@Model != null)
                        {
                            foreach (var mod in @Model)
                            {

                                if (mod.y == i && mod.x == j)
                                {
                                    <div class="ship-box ship-box__h @(mod.position=="v"?"vertical":"") @("ship" + mod.length)"></div>

                                }
                            }
                        }

                    </div>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
