﻿@model ICollection<WebClientBattleShip.Models.ChatMessage>
@{
    Layout = null;
}

<script type="text/javascript">
    function sendMessage() {
        var message = $("#usermsg").val().replace(/\s+/g, "+");
        $("#usermsg").val("");
        $("#chat").load("@Url.Action("UpdateChat", "Game")" + "?message=" + message);
        $("#chat").scrollTop(100000);
    }
</script>
            <table class="table">
                <tbody>
                @if (@Model != null)
                {
                    foreach (var message in @Model)
                    {
                        <tr>
                            <td>
                                @message.Date.ToShortTimeString()
                                <b>@message.UserName:</b>
                                @message.Message
                            </td>
                        </tr>

                    }
                }
                </tbody>
            </table>

