﻿@model WebClientBattleShip.GameService.DTOAwaitingGame[]
@{
    Layout = null;
}
<script type="text/jscript">
    
    function connectToGame()
    {
        $.get('@Url.Action("Play", "Game")?gameId=' + $(':radio').filter(':checked').attr('id'));
        var timerCheckOpponent = setInterval(function () {
            $.get('@Url.Action("CheckOpponent", "Game")', function (data) {
                if(data!="")
                {
                    $("#content").html(data);
                    clearInterval(timerCheckOpponent);
                    clearInterval(timerId);
                }
            });
        }, 5000)

    }
</script>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>@ViewBag.Error</div>

}
else
{
    <table class="table table-hover table-bordered" id="tab">
        <caption>
            <h3>Игры, к которым можно присоединиться</h3>
        </caption>
        <thead>
            <tr>
                <th>Игрок</th>
                <th class="right-col">Дата создания игры</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model != null)
            {
                foreach (var x in @Model)
                {
                    <tr>
                        <td>@x.Creator.Login</td>
                        <td class="right-col">@x.CreationTime</td>
                        <td>
                            @if (ViewBag.UserId != x.Creator.Id)
                            {
                                <input type="radio" name="games" id="@x.GameId" />
                            }
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
}
