﻿
@{
    ViewBag.Title = "Создание игры";
}

<script type="text/javascript">
    
    var timerId;

    setInterval(function () { $("#tableGames").load('@Url.Action("GamesAvailable", "Game")'); }, 5000);

    function createGame()
    {
        $.get('@Url.Action("CreateGame", "Game")');
        clearInterval(timerId);
        $('#timer').text("Вы ожидаете 0 секунд");
        var i = 1;
        timerId = setInterval(function () { $('#timer').text("Вы ожидаете " + i++ + " секунд..."); }, 1000);
        var timerCheckOpponent = setInterval(function () {
            $.get('@Url.Action("CheckOpponent", "Game")', function (data) {
                if (data !== "") {
                    $("#content").html(data);
                    clearInterval(timerCheckOpponent);
                    clearInterval(timerId);
                }
            });
        }, 2000);
        document.getElementById("leave").style.display = "block";
        document.getElementById("forShow").style.display = "block";
        document.getElementById("createGame").style.display = "none";


    }
    function leaveGame() {
        $.get('@Url.Action("LeaveGame", "Game")');
        document.getElementById("forShow").style.display = "none";
        document.getElementById("leave").style.display = "none";
        document.getElementById("createGame").style.display = "block";
    };
    window.onbeforeunload = function () {
        $.get("/Game/LeaveGame/");
    };
</script>

<div role="form">
    <div class="row">
        <div class="col-md-4 col-md-offset-3 alert alert-success" id="forShow" style="display: none">Вы находитесь в очереди игр! Ожидайте противника... <span id="timer"></span></div>
        <div class="col-md-4 col-md-offset-3 alert alert-danger" id="connectError" style="display: none">Ошибка при подключении к игре</div>

        <div class="col-md-2 col-md-offset-8" id="createGame">
            <button type="button" class="btn btn-primary btn-block" onclick="createGame()">Создать новую игру</button>
        </div>
        <div class="col-md-2 col-md-offset-1" id="leave" style="display:none">
            <button type="button" onclick="leaveGame()" class="btn btn-danger btn-block">Выйти</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6" id="tableGames">
            @Html.Action("GamesAvailable", "Game")
        </div>
        <div class="col-md-3"> </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-7">
            <button type="submit" class="btn btn-success btn-block" onclick=connectToGame()>Присоединиться к игре</button>
        </div>
        <div class="col-md-2"> </div>
    </div>
</div>
<div></div>
