﻿@model WebClientBattleShip.GameService.DTOFullGameInfo[]
@{
    Layout = null;
}

        @if (@ViewBag.Error != null)
        {
            <div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>@ViewBag.Error</div>
        }
        else
        {
            <table class="table table-hover table-bordered" id="lastGames">
                <thead>
                <tr>
                    <th>Победитель</th>
                    <th>Проигравший</th>
                    <th>Дата</th>
                    <th>Длительность игры (мин.)</th>
                </tr>
                </thead>
                <tbody>
                @if (@Model != null)
                {
                    foreach (var games in @Model)
                    {
                        <tr>
                            <td>@games.Winner</td>
                            <td>@(@games.NamePlayer2 == @games.Winner? @games.NamePlayer1: @games.NamePlayer2)</td>
                            <td>@games.StartGame</td>
                            <td>@games.LongTime</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        }
