﻿@{
    ViewBag.Title = "Статистика";
}

<script type="text/javascript">
        function update() {
            setInterval(function() {
                $("#tab1").load("@Url.Action("TopPlayers","Game")");
                $("#tab2").load("@Url.Action("LastGames", "Game")");
            }, 5000);
        }
        update();
</script>
<div role="form">
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6 container">
            <br>
            <div class="tabs">
                <ul class="nav nav-tabs" role="tablist" id="tabs">
                    <li class="active" role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Рейтинг игроков</a></li>
                    <li><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Последние 100 игр</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                            @Html.Action("TopPlayers", "Game")
                    </div>
                    <div class="tab-pane" id="tab2">
                            @Html.Action("LastGames", "Game")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
