﻿@model WebClientBattleShip.GameService.DTOFullUserInfo[]
@{
    Layout = null;
}
@if (@ViewBag.Error != null)
{
    <div class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>@ViewBag.Error</div>
}
else
{
    <table class="table table-hover table-bordered" id="topPlayers">
        <thead>
        <tr>
            <th>Место</th>
            <th>Игрок</th>
            <th>Сыграно игр</th>
            <th>Процент побед</th>
            <th>Дата регистрации</th>
        </tr>
        </thead>
        <tbody>
        @if (@Model != null)
        {
            var i = 1;
            foreach (var user in @Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@user.Login</td>
                    <td>@user.Games</td>
                    <td>@user.PercentWonGames</td>
                    <td>@user.DataRegister</td>
                </tr>
            }
        }
        </tbody>
    </table>
}
