﻿@{
    ViewBag.Title = "Главная страница";
}

<img src="https://upload.wikimedia.org/wikipedia/ru/thumb/7/73/BattleShip_Russian.svg/300px-BattleShip_Russian.svg.png" align="left" hspace="50">
    <h3>
        Добрый день, путник! Ты находишься на матрице. В данный момент тебе придется играть в игру "Морской бой!".<br/><br />
        Это увлекательная игра на двоих, которую мы любим с дества.<br /><br />
        Для навигации используй верхнюю панель. Начни с регистрации и авторизации! Удачи!
    </h3>
