﻿@{
    ViewBag.Title = "Авторизация пользователя";
}
<script type="text/jscript">
    function authorization()
    {
        $("#content").load("/Home/Login?login=" + $("#login").val() + "&password=" + $("#pass").val());
        //location.reload("/Home/Login?login=" + $("#login").val() + "&password=" + $("#pass").val());
    }
</script>
<form>
    <h4>Войти или зарегистрироваться</h4>
    <div class="form-group">
        <label for="login">Логин</label>
        <input type="login" class="form-control" id="login" placeholder="Логин">

    </div>
    <div class="form-group">
        <label for="pass">Пароль</label>
        <input type="password" class="form-control" id="pass" placeholder="Пароль">
    </div>
@if (@ViewBag.IsLogined)
{
    <p class="alert alert-success"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Вы успешно авторизировались, может немного <a class="alert-link" href="@Url.Action("Index","Game")">поиграем?</a></p>

}
else
{
    <button type="button" class="btn btn-block" onclick="authorization()" data-loading-text="Loading...">Войти</button>
    if (@ViewBag.Error != null)
    {
        <p class="alert alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>@ViewBag.Error</p>
    }
    <p>
        Если у вас еще нет учетной записи, пожалуйста, нажмите @Html.ActionLink("здесь", "Register", "Home")
    </p>
}

</form>
