﻿@model dynamic

@{
    ViewBag.Title = "Регистрация пользователя";
}

<script type="text/jscript">
        function registration() {
            $("#content").load("/Home/Register?login=" + $("#login").val() + "&password=" + $("#pass").val() + "&email=" + $("#email").val())
        };
</script>
<form role="form">
    <h4>Регистрация</h4>

    <div class="form-group">

        <label for="login">Логин</label>
        <input type="login" class="form-control" id="login" placeholder="Логин">

    </div>
    <div class="form-group">
        <label for="pass">Пароль</label>
        <input type="password" class="form-control" id="pass" placeholder="Пароль">
    </div>
    <div class="form-group">

        <label for="email">Почта</label>
        <input type="email" class="form-control" id="email" placeholder="Почта">

    </div>
    @if (@ViewBag.IsSuccessRegister)
    {
        <p class="alert alert-success">Для авторизации нажмите @Html.ActionLink("здесь", "Login", "Home")</p>
    }
    else
    {
        <button type="button" id="reg_button" class="btn btn-block" onclick="registration()">Зарегистрироваться</button>
        if (@ViewBag.Error != null)
        {
            <p class="alert alert-danger">@ViewBag.Error</p>
        }
        <p>
            Если вы уже зарегистрированы, нажмите @Html.ActionLink("здесь", "Login", "Home")
        </p>
    }

</form>
