﻿<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Морской бой онлайн</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/CustomJS.js"></script>
    <link href="~/Content/GameCss.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <style>
        body {
            background-color: #F5F5F5;
        }

        h1 {
            margin-top: 30px;
            margin-bottom: 30px;
            color: #191970;
            font-weight: 600;
            font-size: 60px;
        }

        form {
            width: 200px;
            margin-left: 600px;
            margin-top: -20px;
        }

        button {
            margin-left: 0px;
        }

        p {
            margin-top: 20px;
            width: 500px;
        }

        h4 {
            width: 500px;
            margin-left: -150px;
            margin-top: 70px;
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>
                Морской бой
            </h1>
        </header>
    </div>
<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li class="active">@Html.ActionLink("Главная страница", "Index", "Home")</li>
        @if (@ViewBag.IsLogined)
        {
            <li>@Html.ActionLink("Игры", "Index", "Game")</li>
            <li>@Html.ActionLink("Статистика", "Statistics", "Game")</li>
            <li>@Html.ActionLink("Выйти", "Logout", "Home")</li>
        }
        else
        {
            <li>@Html.ActionLink("Авторизация", "Login", "Home")</li>
            <li>@Html.ActionLink("Регистрация", "Register", "Home")</li>
        }
    </ul>
    @if (ViewBag.NameUser != null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li style="margin-right:20px"><p style="color:white">Привет, @ViewBag.NameUser</p></li>
        </ul>
    }
</nav>


<div id="content" class="container body-content">
    @RenderBody()
</div>
<footer>
</footer>
</body>
</html>