﻿body * { box-sizing: border-box; }


    .clearfix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }

    .battlefields__handly .battlefield__self { margin-left: 250px }

    .battlefields__handly .port { display: block }

    .port {
        left: 0;
        margin-left: -350px;
        position: absolute !important;
        top: 0;
        width: 350px;
    }

    .port-instruction {
        font-size: .8em;
        line-height: 1.4;
        margin-bottom: 2em;
        margin-right: 2em;
    }

    .port-lines {
        left: -.7em;
        margin-left: 1px;
        position: relative;
        top: -1.26em;
    }

    .port-line {
        margin: 0;
        position: relative;
    }

    .port-ship {
        border: 1px dotted #b2b2b9;
        float: left;
        margin: 1.26em .7em;
        position: relative;
    }

    .battlefield-gap {
        display: inline-block;
        margin: 40px 0;
        position: relative;
    }

    .battlefield__self .battlefield-gap {
        float: left;
        margin-left: 130px;
    }

    .battlefield__rival .battlefield-gap {
        float: left;
        margin-left: 50px;
    }

    .battlefield__wait .battlefield-gap {
        float: left;
        margin-left: 50px;
    }

    .ship-box {
        background: rgba(0, 0, 255, .05);
        border: 2px solid #00f;
        left: 0;
        margin: -2px;
        position: absolute !important;
        top: 0;
        z-index: 2;
    }

    .battlefield-table {
        border-collapse: collapse;
        cursor: default;
        display: inline-block;
        margin: 0;
        position: relative
    }

    .battlefield-cell {
        border: 1px solid #B4B4FF;
        padding: 0
    }

    .battlefield-cell__busy { border-color: rgba(0, 0, 255, .1) }

    .battlefield__wait .battlefield-cell {
        border: 1px solid rgba(180, 180, 255, .5) !important;
        pointer-events: none;
    }

    .battlefield-cell-content {
        height: 2em;
        position: relative;
        width: 2em
    }

    .battlefield-cell__undiscovered {
        background: #B4B4FF;
        background: rgba(180, 180, 255, .5)
    }

    .battlefield__rival .battlefield-cell__empty:hover .battlefield-cell-content {
        cursor: pointer;
        position: relative
    }

    .marker {
        font-size: 11px;
        position: absolute;
        z-index: -1
    }

    .marker__row {
        height: 1em;
        left: -3em;
        text-align: right;
        top: 1em;
        width: 2em;
    }

    .marker__col {
        left: 0;
        text-align: center;
        top: -2em;
        width: 100%;
    }

    .ship-type { overflow: hidden }

    .ship {
        display: block;
        float: left;
        margin: 0 7px 13px 0;
    }

    .ui-draggable-dragging {
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        z-index: 2147483647;
    }

    .battlefield-cell-content__droppable { background: #eee }

    .none { display: none }

    /*
.rotate {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transform-origin: 0 0 0;
}*/

    .rotate.active {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .ship-box,
    .port-ship { height: 2em; }

    .ship4 { width: 8em; }

    .ship4.vertical {
        height: 8em;
        width: 2em;
    }

    .ship3 { width: 6em; }

    .ship3.vertical {
        height: 6em;
        width: 2em;
    }

    .ship2 { width: 4em; }

    .ship2.vertical {
        height: 4em;
        width: 2em;
    }

    .ship1 { width: 2em; }

    .battlefield-cell__miss .battlefield-cell-content { background: #f2f4f8; }

    .battlefield-cell__miss .battlefield-cell-content .z {
        background: #333;
        border-radius: 50%;
        height: 4px;
        left: 50%;
        margin-left: -2px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 4px;
    }

    .battlefield-cell__miss__auto .battlefield-cell-content .z { background: silver; }

    .battlefield-cell__hit .battlefield-cell-content {
        background: 0 0;
        position: relative
    }

    .battlefield-cell__hit .battlefield-cell-content .z {
        box-sizing: border-box;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .battlefield-cell__hit .battlefield-cell-content .z:after, .battlefield-cell__hit .battlefield-cell-content .z:before {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        background: red;
        content: "";
        position: absolute;
        transform: rotate(-45deg);
        z-index: -1;
    }
    .battlefield-label {
    font-size : 0.8em;
    position : relative;
    text-align : center;
    bottom : -10px;
    }
    .battlefield-cell__hit .battlefield-cell-content .z:before {
        height: 150%;
        left: 50%;
        margin-top: 1px;
        top: -25%;
        width: 2px;
    }

    .battlefield-cell__hit .battlefield-cell-content .z:after {
        height: 2px;
        left: -25%;
        margin-left: -1px;
        top: 50%;
        width: 150%;
    }
    .battlefield-cell__done .ship-box {
    border-color : red;
    background : rgba(255, 0, 0, 0.05);
    }
    .battlefield-cell__done .battlefield-cell-content:after {
    content : "";
    display : block;
    height : 2em;
    width : 2em;
    border : red solid 1px;
    margin : -1px;
    position : absolute;
    z-index : 3;
    top : 0;
    left : 0;
    }